@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "List User";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<div class="container mt-3 mb-4">
    <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="row">
            <div class="col-md-12">
                <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                    <table class="table manage-candidates-top mb-0">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th class="text-center">Password</th>
                                <th class="action text-right">Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    username01
                                </td>
                                <td class="text-center">
                                    password01
                                </td>
                                <td>
                                    Role01
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    username02
                                </td>
                                <td class="text-center">
                                    password02
                                </td>
                                <td>
                                    Role02
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    username03
                                </td>
                                <td class="text-center">
                                    password03
                                </td>
                                <td>
                                    Role03
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    username04
                                </td>
                                <td class="text-center">
                                    password04
                                </td>
                                <td>
                                    Role04
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    username05
                                </td>
                                <td class="text-center">
                                    password05
                                </td>
                                <td>
                                    Role05
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center mt-3 mt-sm-3">
                        <ul class="pagination justify-content-center mb-0">
                            <li class="page-item disabled"> <span class="page-link">Prev</span> </li>
                            <li class="page-item active" aria-current="page"><span class="page-link">1 </span> <span class="sr-only">(current)</span></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">25</a></li>
                            <li class="page-item"> <a class="page-link" href="#">Next</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>