@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Admin</title>
    <link rel="stylesheet" href="~/admins/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/admins/css/sb-admin-2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/admins/css/timeline.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/admins/css/metisMenu.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/admins/css/font-awesome.min.css" asp-append-version="true" />
</head>
<body class="bg-light">
    <div class="container" style="height: 100vh; display: table; width: 100%;">
        <div style="display: table-cell; vertical-align: middle;">
          @RenderBody()
        </div>
    </div>
    <script src="~/admins/js/jquery.min.js"></script>
    <script src="~/admins/js/bootstrap.min.js"></script>
</body>
</html>
