<div class="rsidebar span_1_of_left">
	<section class="sky-form">
		<div class="product_right">
			<h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Categories</h4>
			<div class="tab1">
				<ul class="place">
					<li class="sort">Home Decorates</li>
					<li class="by"><img src="~/images/do.png" alt=""></li>
					<div class="clearfix"> </div>
				</ul>
				<div class="single-bottom">
					<a href="#"><p>Lanterns</p></a>
					<a href="#"><p>Wall Lamps</p></a>
					<a href="#"><p>Table Lamps</p></a>
					<a href="#"><p>Selling Lamps</p></a>
				</div>
			</div>
			<div class="tab2">
				<ul class="place">
					<li class="sort">Festive Needs</li>
					<li class="by"><img src="~/images/do.png" alt=""></li>
					<div class="clearfix"> </div>
				</ul>
				<div class="single-bottom">
					<a href="#"><p>Lanterns</p></a>
					<a href="#"><p>Disco Lights</p></a>
				</div>
			</div>
			<div class="tab3">
				<ul class="place">
					<li class="sort">Kitchen & Dining</li>
					<li class="by"><img src="~/images/do.png" alt=""></li>
					<div class="clearfix"> </div>
				</ul>
				<div class="single-bottom">
					<a href="#"><p>Lights & Lamps</p></a>
				</div>
			</div>
			<div class="tab4">
				<ul class="place">
					<li class="sort">Books</li>
					<li class="by"><img src="~/images/do.png" alt=""></li>
					<div class="clearfix"> </div>
				</ul>
				<div class="single-bottom">
					<a href="#"><p>Standing Lamps</p></a>
					<a href="#"><p>Lamps</p></a>
					<a href="#"><p>Led Lamps</p></a>
				</div>
			</div>
			<div class="tab5">
				<ul class="place">
					<li class="sort">Automotive</li>
					<li class="by"><img src="~/images/do.png" alt=""></li>
					<div class="clearfix"> </div>
				</ul>
				<div class="single-bottom">
					<a href="#"><p>Car Lights</p></a>
					<a href="#"><p>Stick Lights</p></a>
					<a href="#"><p>Thread Lights</p></a>
				</div>
			</div>
	</section>

	<section class="sky-form">
		<h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>DISCOUNTS</h4>
		<div class="row row1 scroll-pane">
			<div class="col col-4">
				<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Upto - 10% (20)</label>
			</div>
			<div class="col col-4">
				<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>40% - 50% (5)</label>
				<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>30% - 20% (7)</label>
				<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>10% - 5% (2)</label>
				<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Other(50)</label>
			</div>
		</div>
	</section>

	<section class="sky-form">
		<h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>DISCOUNTS</h4>
		<div class="row row1 scroll-pane">
			<div class="col col-4">
				<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Upto - 10% (20)</label>
			</div>
			<div class="col col-4">
				<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>40% - 50% (5)</label>
				<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>30% - 20% (7)</label>
				<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>10% - 5% (2)</label>
				<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Other(50)</label>
			</div>
		</div>
	</section>

	<section class="sky-form">
		<h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Price</h4>
		<ul class="dropdown-menu1">
			<li>
				<a href="">
					<div id="slider-range"></div>
					<input type="text" id="amount" style="border: 0; font-weight: NORMAL;   font-family: 'Dosis-Regular';" />
				</a>
			</li>
		</ul>
	</section>
	<section class="sky-form">
		<h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Type</h4>
		<div class="row row1 scroll-pane">
			<div class="col col-4">
				<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Lights (30)</label>
			</div>
			<div class="col col-4">
				<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Diwali Lights   (30)</label>
				<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Tube Lights      (30)</label>
				<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>LED Lights        (30)</label>
				<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Bulbs  (30)</label>
				<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Ceiling Lights  (30)</label>
			</div>
		</div>
	</section>
	<section class="sky-form">
		<h4><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Brand</h4>
		<div class="row row1 scroll-pane">
			<div class="col col-4">
				<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Everyday</label>
			</div>
			<div class="col col-4">
				<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Anchor</label>
				<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Philips</label>
				<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Wipro</label>
				<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Havells</label>
				<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Ferolex</label>
				<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Gold Medal</label>
			</div>
		</div>
	</section>
</div>
		  </div>
		</div>
</div>